<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorGameApp.WindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ColorGameApp.WindowsForm.Properties.Settings>
            <setting name="actionString" serializeAs="String">
                <value>Akcja</value>
            </setting>
            <setting name="startString" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="resetAppString" serializeAs="String">
                <value>Resetuj aplikację</value>
            </setting>
            <setting name="closeString" serializeAs="String">
                <value>Zamknij</value>
            </setting>
            <setting name="levelString" serializeAs="String">
                <value>Poziom trudności</value>
            </setting>
            <setting name="level1String" serializeAs="String">
                <value>Poziom brązowy: czas rundy -&gt; 2 sekundy</value>
            </setting>
            <setting name="level2String" serializeAs="String">
                <value>Poziom srebrny: czas rundy -&gt; 1,5 sekundy</value>
            </setting>
            <setting name="level3String" serializeAs="String">
                <value>Poziom złoty: czas rundy -&gt; 1 sekunda</value>
            </setting>
            <setting name="infoString" serializeAs="String">
                <value>Informacje</value>
            </setting>
            <setting name="chooseColorString" serializeAs="String">
                <value>Wybierz kolor:</value>
            </setting>
            <setting name="remainingTimeString" serializeAs="String">
                <value>Pozostały czas:</value>
            </setting>
            <setting name="pointsString" serializeAs="String">
                <value>Punkty:</value>
            </setting>
            <setting name="startInfoString" serializeAs="String">
                <value>Aby zagrać, naciśnij Start.</value>
            </setting>
            <setting name="colorGameTitleString" serializeAs="String">
                <value>Test na kolory</value>
            </setting>
            <setting name="alertInfoTitleString" serializeAs="String">
                <value>Informacje</value>
            </setting>
            <setting name="alertInfoContentString" serializeAs="String">
                <value>Autorem gry jest Łukasz Krzos. Aby zagrać w grę należy wybrać opcję [Start] z menu.</value>
            </setting>
            <setting name="alertGameOverTitleString" serializeAs="String">
                <value>Wynik gry</value>
            </setting>
            <setting name="alertGameOverContent1String" serializeAs="String">
                <value>Uzyskałeś</value>
            </setting>
            <setting name="alertGameOverContent2String" serializeAs="String">
                <value>punktów</value>
            </setting>
            <setting name="menuStripGameOverString" serializeAs="String">
                <value>Koniec gry</value>
            </setting>
            <setting name="alertExitTitleString" serializeAs="String">
                <value>Potwierdzenie</value>
            </setting>
            <setting name="alertExitContentString" serializeAs="String">
                <value>Czy na pewno chcesz wyjść?</value>
            </setting>
            <setting name="secondsString" serializeAs="String">
                <value>sek.</value>
            </setting>
            <setting name="titleString" serializeAs="String">
                <value>Test na kolory</value>
            </setting>
        </ColorGameApp.WindowsForm.Properties.Settings>
    </userSettings>
</configuration>